@model rsvpApplication.Models.GuestResponse
@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="/css/style.css" />
<title>RsvpForm</title>
</head>
<body>
<form asp-action="RsvpForm" method="post">
    <div asp-validation-summary="All">

    </div>
    <div class="formGroup">
        <label asp-for="Name">Your Name: </label>
        <input asp-for="Name" class="inputField"/>
    </div>
    <div class="formGroup">
        <label asp-for="Email">Your Email:</label>
        <input asp-for="Email" class="inputField"/>
    </div>
    <div class="formGroup">
        <label asp-for="Phone">Your phone:</label>
        <input asp-for="Phone" class="inputField" />
    </div>
    <div class="formGroup">
        <label> Will You Attend</label>
        <select asp-for="WillAttend" class="inputField">
            <option value="">Choose An Option</option>
            <option value="true">Yes I'll Attend</option>
            <option value="false">No I Won't Make It</option>
        </select>
    </di>
    <button type="submit" class="btn">RSVP</button>
</form>
</body>
</html>