@model rsvpApplication.Models.GuestResponse
@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>RsvpForm</title>
</head>
<body>
<form asp-action="RsvpForm" method="post">
    <div asp-validation-summary="All">

    </div>
    <div>
        <label asp-for="Name">Your Name: </label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email">Your Email:</label>
        <input asp-for="Email"/>
    </div>
    <div>
        <label asp-for="Phone">Your phone:</label>
        <input asp-for="Phone" />
    </div>
    <div>
        <label> Will You Attend</label>
        <select asp-for="WillAttend">
            <option value="">Choose An Option</option>
            <option value="true">Yes I'll Attend</option>
            <option value="false">No I Won't Make It</option>
        </select>
    </div>
    <button type="submit">RSVP</button>
</form>
</body>
</html>